/* line 1, ../../../app/stylesheets/partials/_reset.sass */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0; }

/* line 11, ../../../app/stylesheets/partials/_grid.sass */
#gridWrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

/* line 16, ../../../app/stylesheets/partials/_grid.sass */
.row {
  margin: 20px, 0; }

/* line 19, ../../../app/stylesheets/partials/_grid.sass */
.row:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0; }

/* line 27, ../../../app/stylesheets/partials/_grid.sass */
.centered {
  margin: 0 auto;
  text-align: center; }

/* line 31, ../../../app/stylesheets/partials/_grid.sass */
.extra-margin {
  margin-bottom: 60px; }

/* line 34, ../../../app/stylesheets/partials/_grid.sass */
.column, .columns {
  margin: 0 0 0 20px;
  padding: 0;
  float: left; }

/* line 39, ../../../app/stylesheets/partials/_grid.sass */
.first.column, .first.columns {
  margin: 0;
  padding: 0;
  float: left; }

/* line 44, ../../../app/stylesheets/partials/_grid.sass */
.1-quarter {
  width: 25px; }

/* line 47, ../../../app/stylesheets/partials/_grid.sass */
.half {
  width: 50px; }

/* line 50, ../../../app/stylesheets/partials/_grid.sass */
.three-quarters {
  width: 75px; }

/* line 54, ../../../app/stylesheets/partials/_grid.sass */
.one {
  width: 100px; }

/* line 57, ../../../app/stylesheets/partials/_grid.sass */
.two {
  width: 200px; }

/* line 60, ../../../app/stylesheets/partials/_grid.sass */
.three {
  width: 300px; }

/* line 63, ../../../app/stylesheets/partials/_grid.sass */
.four {
  width: 400px; }

/* line 67, ../../../app/stylesheets/partials/_grid.sass */
.five {
  width: 500px; }

/* line 71, ../../../app/stylesheets/partials/_grid.sass */
.six {
  width: 600px; }

/* line 74, ../../../app/stylesheets/partials/_grid.sass */
.seven {
  width: 700px; }

/* line 77, ../../../app/stylesheets/partials/_grid.sass */
.eight {
  width: 800px; }

/* line 80, ../../../app/stylesheets/partials/_grid.sass */
.nine {
  width: 900px; }

/* line 83, ../../../app/stylesheets/partials/_grid.sass */
.ten {
  width: 1000px; }

/* line 86, ../../../app/stylesheets/partials/_grid.sass */
.one-and-a-quarter {
  width: 125px; }

/* line 89, ../../../app/stylesheets/partials/_grid.sass */
.two-and-a-quarter {
  width: 225px; }

/* line 92, ../../../app/stylesheets/partials/_grid.sass */
.three-and-a-quarter {
  width: 325px; }

/* line 95, ../../../app/stylesheets/partials/_grid.sass */
.four-and-a-quarter {
  width: 425px; }

/* line 98, ../../../app/stylesheets/partials/_grid.sass */
.five-and-a-quarter {
  width: 525px; }

/* line 101, ../../../app/stylesheets/partials/_grid.sass */
.six-and-a-quarter {
  width: 625px; }

/* line 104, ../../../app/stylesheets/partials/_grid.sass */
.seven-and-a-quarter {
  width: 725px; }

/* line 107, ../../../app/stylesheets/partials/_grid.sass */
.eight-and-a-quarter {
  width: 825px; }

/* line 110, ../../../app/stylesheets/partials/_grid.sass */
.nine-and-a-quarter {
  width: 925px; }

/* line 114, ../../../app/stylesheets/partials/_grid.sass */
.one-and-a-half {
  width: 150px; }

/* line 117, ../../../app/stylesheets/partials/_grid.sass */
.two-and-a-half {
  width: 250px; }

/* line 120, ../../../app/stylesheets/partials/_grid.sass */
.three-and-a-half {
  width: 350px; }

/* line 123, ../../../app/stylesheets/partials/_grid.sass */
.four-and-a-half {
  width: 450px; }

/* line 126, ../../../app/stylesheets/partials/_grid.sass */
.five-and-a-half {
  width: 550px; }

/* line 129, ../../../app/stylesheets/partials/_grid.sass */
.six-and-a-half {
  width: 650px; }

/* line 132, ../../../app/stylesheets/partials/_grid.sass */
.seven-and-a-half {
  width: 750px; }

/* line 135, ../../../app/stylesheets/partials/_grid.sass */
.eight-and-a-half {
  width: 850px; }

/* line 138, ../../../app/stylesheets/partials/_grid.sass */
.nine-and-a-half {
  width: 950px; }

/* line 141, ../../../app/stylesheets/partials/_grid.sass */
.one-and-three-quarter {
  width: 175px; }

/* line 144, ../../../app/stylesheets/partials/_grid.sass */
.two-and-three-quarters {
  width: 275px; }

/* line 147, ../../../app/stylesheets/partials/_grid.sass */
.three-and-three-quarters {
  width: 375px; }

/* line 150, ../../../app/stylesheets/partials/_grid.sass */
.four-and-three-quarters {
  width: 475px; }

/* line 153, ../../../app/stylesheets/partials/_grid.sass */
.five-and-three-quarters {
  width: 575px; }

/* line 156, ../../../app/stylesheets/partials/_grid.sass */
.six-and-three-quarters {
  width: 675px; }

/* line 159, ../../../app/stylesheets/partials/_grid.sass */
.seven-and-three-quarters {
  width: 775px; }

/* line 162, ../../../app/stylesheets/partials/_grid.sass */
.eight-and-three-quarters {
  width: 875px; }

/* line 165, ../../../app/stylesheets/partials/_grid.sass */
.nine-and-three-quarters {
  width: !column_width * 9.75; }

/* line 5, ../../../app/stylesheets/partials/_buttons.sass */
.button {
  display: inline-block;
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  text-shadow: rgba(0,0,0,.6) 0px -1px 1px;
  border: rgba(0,0,0,.2) solid 1px;
  cursor: pointer;
  outline: none;
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  overflow: hidden;
  margin-top: 5px; }
  /* line 22, ../../../app/stylesheets/partials/_buttons.sass */
  .button span {
    padding: 5px 18px 6px 18px;
    display: block;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.15);
    border-right: 1px solid rgba(255,255,255,0.15);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-box-shadow: inset 0 15px 5px rgba(255, 255, 255, 0.1), inset 0px -10px 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 15px 5px rgba(255, 255, 255, 0.1), inset 0px -10px 12px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 15px 5px rgba(255, 255, 255, 0.1), inset 0px -10px 12px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(255,255,255,.10)   ), to( rgba(0,0,0,.15) )); }
  /* line 34, ../../../app/stylesheets/partials/_buttons.sass */
  .button:active span {
    border: rgba(0,0,0,.25) 1px solid;
    border-bottom: none;
    -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
    box-sahdow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(0,0,0,.4)   ), to( rgba(0,0,0,.1)  )); }

/* line 41, ../../../app/stylesheets/partials/_buttons.sass */
.button:hover {
  color: #fff; }

/* line 44, ../../../app/stylesheets/partials/_buttons.sass */
.button.inactive {
  cursor: default; }

/* line 52, ../../../app/stylesheets/partials/_buttons.sass */
.mega.button {
  font-size: 30px;
  margin-top: 20px;
  margin-right: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px; }
  /* line 58, ../../../app/stylesheets/partials/_buttons.sass */
  .mega.button span {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px; }

/* line 61, ../../../app/stylesheets/partials/_buttons.sass */
.large.button {
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px; }

/* line 66, ../../../app/stylesheets/partials/_buttons.sass */
.small.button {
  font-size: 14px; }
  /* line 68, ../../../app/stylesheets/partials/_buttons.sass */
  .small.button span {
    padding: 3px 12px 4px 12px; }

/* line 72, ../../../app/stylesheets/partials/_buttons.sass */
.micro.button {
  font-size: 12px; }
  /* line 74, ../../../app/stylesheets/partials/_buttons.sass */
  .micro.button span {
    padding: 3px 10px 4px 10px; }

/* line 82, ../../../app/stylesheets/partials/_buttons.sass */
.blue.button {
  background-color: #0070c3; }
  /* line 29, ../../../app/stylesheets/partials/_mixins.sass */
  .blue.button:hover {
    background-color: #33a3f6; }
  /* line 31, ../../../app/stylesheets/partials/_mixins.sass */
  .blue.button:active {
    background-color: #0070c3; }

/* line 85, ../../../app/stylesheets/partials/_buttons.sass */
.green.button {
  background-color: #7c9f1f; }
  /* line 29, ../../../app/stylesheets/partials/_mixins.sass */
  .green.button:hover {
    background-color: #afd252; }
  /* line 31, ../../../app/stylesheets/partials/_mixins.sass */
  .green.button:active {
    background-color: #7c9f1f; }

/* line 88, ../../../app/stylesheets/partials/_buttons.sass */
.orange.button {
  background-color: orange; }
  /* line 29, ../../../app/stylesheets/partials/_mixins.sass */
  .orange.button:hover {
    background-color: orange#333333; }
  /* line 31, ../../../app/stylesheets/partials/_mixins.sass */
  .orange.button:active {
    background-color: orange; }

/* line 92, ../../../app/stylesheets/partials/_buttons.sass */
.red.button {
  background-color: #aa1818; }
  /* line 29, ../../../app/stylesheets/partials/_mixins.sass */
  .red.button:hover {
    background-color: #dd4b4b; }
  /* line 31, ../../../app/stylesheets/partials/_mixins.sass */
  .red.button:active {
    background-color: #aa1818; }

/* line 95, ../../../app/stylesheets/partials/_buttons.sass */
.dark-gray.button {
  background-color: #333333; }
  /* line 29, ../../../app/stylesheets/partials/_mixins.sass */
  .dark-gray.button:hover {
    background-color: #666666; }
  /* line 31, ../../../app/stylesheets/partials/_mixins.sass */
  .dark-gray.button:active {
    background-color: #333333; }

/* line 98, ../../../app/stylesheets/partials/_buttons.sass */
.medium-gray.button {
  background-color: #454545; }
  /* line 100, ../../../app/stylesheets/partials/_buttons.sass */
  .medium-gray.button:hover {
    background-color: #787878; }
  /* line 102, ../../../app/stylesheets/partials/_buttons.sass */
  .medium-gray.button:active {
    background-color: #454545; }

/* line 106, ../../../app/stylesheets/partials/_buttons.sass */
.light-gray.button {
  background-color: #cccccc;
  text-shadow: none;
  color: #9a9a9a; }

/* line 14, ../../../app/stylesheets/partials/_labels.sass */
.special-labels span.wrap {
  position: relative;
  background: transparent;
  border: 5px solid transparent;
  display: block;
  margin: 5px 0 5px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  /* line 23, ../../../app/stylesheets/partials/_labels.sass */
  .special-labels span.wrap label {
    position: absolute;
    top: 6px;
    left: 8px;
    color: #888888;
    font-size: 18px;
    font-weight: bold; }
  /* line 31, ../../../app/stylesheets/partials/_labels.sass */
  .special-labels span.wrap label.faded {
    color: #555555; }
  /* line 34, ../../../app/stylesheets/partials/_labels.sass */
  .special-labels span.wrap input, .special-labels span.wrap textarea {
    padding: 7px;
    color: white;
    border: 1px solid #444444;
    font-size: 16px;
    font-weight: bold;
    background: #333333; }
  /* line 42, ../../../app/stylesheets/partials/_labels.sass */
  .special-labels span.wrap textarea {
    display: block;
    font-size: 14px;
    font-weight: normal; }
/* line 47, ../../../app/stylesheets/partials/_labels.sass */
.special-labels span.wrap.shadow {
  border: 5px solid rgba(0,105,183,.2);
  -moz-box-shadow: 0px 0px 5px rgba(0,105,183,.5); }
  /* line 51, ../../../app/stylesheets/partials/_labels.sass */
  .special-labels span.wrap.shadow input {
    border: 1px solid rgba(20,58,87,.4); }

/* line 54, ../../../app/stylesheets/partials/_labels.sass */
.special-labels.model-form {
  margin-top: 20px; }
  /* line 56, ../../../app/stylesheets/partials/_labels.sass */
  .special-labels.model-form .button {
    margin-top: 20px; }

/* line 5, ../../../app/stylesheets/partials/_flash.sass */
#flash {
  margin: 20px 0 20px 0; }

/* line 8, ../../../app/stylesheets/partials/_flash.sass */
.flash-item {
  color: #fff;
  margin: 0 auto 20px;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  max-width: 500px;
  text-shadow: 0px -1px 2px rgba(0,0,0,.4);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.15);
  border-right: 1px solid rgba(255,255,255,0.15);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-box-shadow: inset 0 15px 5px rgba(255, 255, 255, 0.05), inset 0px -10px 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 15px 5px rgba(255, 255, 255, 0.05), inset 0px -10px 12px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 15px 5px rgba(255, 255, 255, 0.05), inset 0px -10px 12px rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from( rgba(255,255,255,.10)   ), to( rgba(0,0,0,.15) )); }
  /* line 24, ../../../app/stylesheets/partials/_flash.sass */
  .flash-item.success {
    background-color: #7c9f1f; }
  /* line 27, ../../../app/stylesheets/partials/_flash.sass */
  .flash-item.error {
    background-color: #aa1818; }
  /* line 30, ../../../app/stylesheets/partials/_flash.sass */
  .flash-item.notice {
    background-color: orange; }

/* line 1, ../../../app/stylesheets/partials/_typography.sass */
h1, h2, h3, h4, h5, h6, p, ul, ol {
  color: white; }

/* line 4, ../../../app/stylesheets/partials/_typography.sass */
h1 {
  font-size: 40px;
  margin: 20px 0 20px;
  letter-spacing: -2px; }

/* line 9, ../../../app/stylesheets/partials/_typography.sass */
h2 {
  font-size: 36px;
  margin: 25px 0 5px 0;
  letter-spacing: -1px; }

/* line 14, ../../../app/stylesheets/partials/_typography.sass */
h3, h4 {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 18, ../../../app/stylesheets/partials/_typography.sass */
h3 {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5); }

/* line 22, ../../../app/stylesheets/partials/_typography.sass */
h4 {
  font-size: 26px; }

/* line 25, ../../../app/stylesheets/partials/_typography.sass */
h5, h6 {
  margin-bottom: 5px; }

/* line 28, ../../../app/stylesheets/partials/_typography.sass */
h5 {
  font-size: 18px; }

/* line 31, ../../../app/stylesheets/partials/_typography.sass */
h6 {
  font-size: 14px; }

/* line 34, ../../../app/stylesheets/partials/_typography.sass */
ul, ol {
  margin-left: 45px; }

/* line 37, ../../../app/stylesheets/partials/_typography.sass */
p {
  font-weight: bold;
  margin-left: 25px; }

/* line 18, ../../../app/stylesheets/global.sass */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 20px;
  background-image: url(gray_gradient.png);
  background-repeat: repeat-x;
  background-color: #312f2f; }

/* line 27, ../../../app/stylesheets/global.sass */
header {
  background: #568de1; }

/* line 30, ../../../app/stylesheets/global.sass */
a {
  color: white;
  visited: white; }

/* line 34, ../../../app/stylesheets/global.sass */
.page-title {
  font-size: 60px;
  border-bottom: 2px solid #ccc;
  margin: 0 0 50px 0;
  padding: 0 0 15px 0;
  color: black; }

/* line 41, ../../../app/stylesheets/global.sass */
.section-title {
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 50px 0;
  padding: 0 0 5px 0; }

/* line 47, ../../../app/stylesheets/global.sass */
.posts-header {
  text-align: right; }

/* line 56, ../../../app/stylesheets/global.sass */
.some-class {
  margin: 0;
  background: #222; }

/* line 60, ../../../app/stylesheets/global.sass */
#navBar {
  left: -20px;
  padding: 0;
  position: relative;
  top: 90px; }

/* line 66, ../../../app/stylesheets/global.sass */
#navBar li {
  list-style: none; }

/* line 69, ../../../app/stylesheets/global.sass */
#navBar li a {
  text-decoration: none;
  padding: 5px 0;
  width: 100px;
  background-image: url(VertBlueWhiteGradient.png);
  color: #eee;
  float: left;
  text-align: center;
  border-left: 1px solid grey;
  border-right: 1px solid grey; }

/* line 80, ../../../app/stylesheets/global.sass */
#navBar li a:hover {
  background-image: url(HoverGradient.png);
  color: #eee; }
