body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  font-weight: bold;
  color: white;
}

body{
  background-image:url(compiled/gray_gradient.png);
  background-repeat: repeat-x;
  background-color: #312f2f;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: white; }
a:visited { color: white; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.page-title{
    font-size: 60px;
    border-bottom: 2px solid #ccc;
    margin: 0 0 50px 0;
    padding: 20px 0 40px 0;
    color: black;
}

.section-title{
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;
}