%h1.page-title Coursework
%p
	This is a summary of coursework I've completed as it relates to either of my degrees.  I expect
	that this page will undergo a process of metamorphosis as I update it to include more information.
	However, for the time being, it will have to suffice until such time as more thorough content can
	be included.

%h3.section-title Physics
%p
	In the interest of conserving space, I will omit some of the courses in the Physics major, but 
	here is a sampling of what I consider the highlights of the program:<br>
	
	%ul
		%li PHY 21, 23 - General Physics
		%li PHY 40 - Differential Equations
		%li PHY 131 - Classical Mechanics
		%li PHY 150 - Electricity and Magnetism
		%li PHY 121, 122 - Quantum Mechanics
		%li PhY 198 - Research
		
%p
	Anyone interested can find more information and a full description of the major on the
	<a href='http://www.westmont.edu/_academics/departments/physics/'>Physics department</a> website.<br><br>

%h3.section-title Music
%p
	Listed here are the courses I have taken as a part of my Music minor:<br>
	
	%ul
		%li MU 10, 12 - Principles of Music I and II
		%li MU 20 - Survey of Western Music
		%li MU 15, 115 - Conducting/Advanced Conducting
		%li MUA 50 - Private Piano (2 semesters)
		%li MUA 70 - Private Voice (2 semesters)
		%li MUA 71/171 - College Choir (4 semesters)
	
%p
	I have also taken other performance based classes, including New Sounds, a small ensemble dedicated to
	exploring World music and vocal jazz, and additional units of College Choir.  I have also pursued music
	theory beyond Principles I and II, although it was not for credit.<br><br>

	Those interested may find more information on the 
	<a href='http://www.westmont.edu/_academics/departments/music/'>Music Department</a> website.