%h1.page-title Welcome!

.row
	.three.columns
		= image_tag "IMG_2191.JPG", :width => '300', :border => '5px'


	.three.columns
		%h3 About me
		%p
			This website purports to represent a certain Christopher Morse.  As of Spring 2010 I am in my final semester
			at Westmont College, where I am completing a major in physics and a minor in music.  I have also begun to
			venture into the field of computer science (hence the development of this website).  My current plan is to
			attend graduate school in physics, focusing on either nuclear or high energy physics.  The rest of this site
			is a brief summary of who I am, and will presumably be updated periodically whenever it's claim to represent
			said Mr. Morse becomes completely untenable.  Other updates to expand the content of this site may be
			forthcoming at unpredictable dates, subject to my inclination and what I can implement in a reasonable
			manner.
