%h1.page-title R&eacute;sum&eacute;
%h3.section-title Education
%p
	Westmont College&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Santa Barbara, CA<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;Bachelor of Science in Physics<br>
	&nbsp;&nbsp;&nbsp;&nbsp;Minor in Music<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Degree expected May, 2010<br><br>
	A more complete description of my educational work can be 
	found on the <a href='/coursework'>Coursework</a> page.
	
%h3.section-title Experience
%p
	For several semesters I have worked as a teaching assistant, within the Physics Department and the 
	Religious Studies Department.  Within Religious Studies I TA'd for Old Testament class.  Following,
	I TA'd in the Physics Department, supervising review sessions for Differential Equations twice and
	Mathematical Physics.<br><br>

	During the summer of 2009 I worked as a full-time student researcher for the Physics Department.
	During this time my partner and I used Westmont's 24-inch telescope to image several open star 
	clusters.  Using software available on the internet and some that was developed by us during the 
	summer, we employed an analysis known as "spectroscopic parallax" to determine the distance to
	these star clusters.  The results for this project are still outstanding and require additional
	refinement before they agree with published scientific literature.  However, a plan to refine 
	them is in progress and it is hoped that this plan can be implemented before the end of the Spring
	2010 semester.<br><br>

	During the school year I have also participated in research.  During the Fall of 2009 I helped to
	rebuild Westmont's Cosmic Muon Detector Array, which was destroyed in the Tea Fire during 2008.
	I have also done other astronomical work imaging asteroids within our solar system, and I am in the
	process  of helping develop an extra-solar planet search program at Westmont during my final semester
	here.

%h3.section-title Awards and Honors
%p
	President's Scholarship (Westmont College, Santa Barbara, 2006-2010)<br><br>

	Faculty Fellowship Award (Westmont College, Santa Barbara, 2008-2010)<br><br>

	Dean's List, seven consecutive semesters<br><br>

	Phi Kappa Phi Member<br><br>

	First Senior, Westmont class of 2010