%h1.page-title Projects

%p
  This page contains links to samples of the work I have done while learning to program in the Ruby language.
  Although these are not incredibly complex programs, I am still somewhat proud of the work that went into them.
  At some point, I would love to find a way to be able to run them remotely from this site, but so far that ability has
  eluded me.  So, for now, here is access to the code itself.
<br>
%h6.section-title Medical Clinic
%p
  This first program models the operation of a medical clinic.  The code is a little long, and it might be possible
  to condense it if I were to go back and spend a little more time with it.  However, I prefer to leave it as is for
  now, as it represents an early stage in my programing career.  Hopefully subsequent efforts look a little nicer to
  the viewer!<br><br>
  <a href = '/medical_clinic'>Medical Clinic Code ></a>
%h6.section-title Corporate World
%p
  This is a program that models the workings of a set of companies in the corporate world.  People can be hired/fired,
  payed, promoted/demoted, etc.  I wouldn't consider this code to be terribly innovative, but it was kind of fun to
  make a model of a real-world system, even if it is an unrealistic model.  Also, it was my first introduction to the
  concept of a linked list, so it holds a little bit of interest for me personally.  Note that this program expects a
  text file that has a list of companies, one per line, in the directory where the program resides.<br><br>
  <a href = '/corporate_world'>Corporate World Code ></a>
%h6.section-title Word Permutations
%p
  This program is sort of like a computer's way of playing Scrabble.  It takes a string of characters, then returns
  all the unique ways you can arrange the characters in the string.  It was probably the hardest program to write during
  the computer science class for which these projects were written, but ironically it is also the shortest program!
  Anyway, here it is, for your enjoyment.<br><br>
  <a href = '/permutations'>Word Permutations Code ></a>

  