%h2.page-title Medical Clinic

%p
  class Clinic
  attr_accessor :rooms, :doc_info, :pat_info, :waiting
  def initialize
    @rooms = [nil]
    @doc_info = []
    @pat_info = []
    @waiting = []
  end

  def doctor_checkin
    @doc_info = []
    puts "Please enter your name: "
    @doc_info[0] = gets.chomp
    puts "Please enter your specialty code: "
    while @doc_info[2] = gets.chomp
      unless @doc_info[2] == "PED" || @doc_info[2] == "GEN" || @doc_info[2] == "INT" || @doc_info[2] == "CAR" || @doc_info[2] == "SUR" || @doc_info[2] == "OBS" || @doc_info[2] == "PSY" || @doc_info[2] == "NEU" || @doc_info[2] == "ORT" || @doc_info[2] == "DER" || @doc_info[2] == "OPT" || @doc_info[2] == "ENT"
        puts "Error, specialty code must be one of the following:\nPED\nGEN\nINT\nCAR\nSUR\nOBS\nPSY\nNEU\nORT\nDER\nOPT\nENT\nPlease try again."
        next
      else
        break
      end
    end
    puts "Please enter your preferred room number: "
    while @doc_info[1] = gets.chomp
      if @doc_info[1].match(/^\d+$/)
        @doc_info[1] = Integer(@doc_info[1])
        if @doc_info[1] < 1 || @doc_info[1] > 100
          puts "Error, please enter a room number from 1 to 100: "
          next
        elsif @rooms[@doc_info[1]-1] != nil
          puts "Room currently in use, please select another room: "
          next
        else
          @rooms[@doc_info[1]-1] = Doctor.new(@doc_info[0], @doc_info[1], @doc_info[2])
          puts "Welcome Dr. #{@doc_info[0]}, please proceed to room #{@doc_info[1]}."
          break
        end
      else
        puts "Error, room number must be a positive integer. Please try again."
        next
      end
    end
  end

  def patient_checkin
    @pat_info = []
    puts "Please enter your name: "
    @pat_info[0] = gets.chomp
    puts "Please enter your age: "
    while @pat_info[1] = gets.chomp
      unless @pat_info[1].match(/^\d+$/)
        puts "Please enter your age as an integer."
        next
      else
        @pat_info[1] = Integer(@pat_info[1])
        break
      end
    end
    puts "Please enter a specialty code based on your needs: "
    while @pat_info[2] = gets.chomp
      unless @pat_info[2] == "PED" || @pat_info[2] == "GEN" || @pat_info[2] == "INT" || @pat_info[2] == "CAR" || @pat_info[2] == "SUR" || @pat_info[2] == "OBS" || @pat_info[2] == "PSY" || @pat_info[2] == "NEU" || @pat_info[2] == "ORT" || @pat_info[2] == "DER" || @pat_info[2] == "OPT" || @pat_info[2] == "ENT"
        puts "Error, specialty code must be one of the following:\nPED\nGEN\nINT\nCAR\nSUR\nOBS\nPSY\nNEU\nORT\nDER\nOPT\nENT\nPlease try again."
        next
      else
        break
      end
    end
    @waiting << Patient.new(@pat_info[0], @pat_info[1], @pat_info[2])
  end

  def patient_sorter
    until @waiting.empty?
      info_holder = [nil, nil]
      if @waiting[0].age < 16
        @rooms.each_with_index do |i, index|
          if i == nil
            next
          elsif index == 100
            break
          elsif i.specialty == "PED"
            if info_holder[0] == nil
              info_holder[0] = i.room
              info_holder[1] = i.queue.length
            elsif i.queue.length < info_holder[1]
              info_holder[0] = i.room
              info_holder[1] = i.queue.length
            end
          end
        end
        if info_holder[0] == nil
          @rooms.each_with_index do |i, index|
            if i == nil
              next
            elsif index == 100
              break
            else
              if info_holder[0] == nil
                info_holder[0] = i.room
                info_holder[1] = i.queue.length
              elsif i.queue.length < info_holder[1]
                info_holder[0] = i.room
                info_holder[1] = i.queue.length
              end
            end
          end
        end
        unless info_holder[0] == nil
          puts "#{@waiting[0].name}, please proceed to room #{info_holder[0]} to see Dr. #{@rooms[info_holder[0]-1].name}."
          @rooms[info_holder[0]-1].queue << @waiting.shift
        else
          puts "There are no doctors in at the moment.  Patients will be notified when a doctor checks in."
          break
        end
      else
        @rooms.each_with_index do |i, index|
          if i == nil
            next
          elsif index == 100
            break
          elsif i.specialty == @waiting[0].spec_request
            if info_holder[0] == nil
              info_holder[0] = i.room
              info_holder[1] = i.queue.length
            elsif i.queue.length < info_holder[1]
              info_holder[0] = i.room
              info_holder[1] = i.queue.length
            end
          end
        end
        if info_holder[0] == nil
          @rooms.each_with_index do |i, index|
            if i == nil
              next
            elsif index == 100
              break
            else
              if info_holder[0] == nil
                info_holder[0] = i.room
                info_holder[1] = i.queue.length
              elsif i.queue.length < info_holder[1]
                info_holder[0] = i.room
                info_holder[1] = i.queue.length
              end
            end
          end
        end
        unless info_holder[0] == nil
          puts "#{@waiting[0].name}, please proceed to room #{info_holder[0]} to see Dr. #{@rooms[info_holder[0]-1].name}."
          @rooms[info_holder[0]-1].queue << @waiting.shift
        else
          puts "There are no doctors in at the moment.  Patients will be notified when a doctor checks in."
          break
        end
      end
    end
  end

  def doctor_checkout
    puts "Enter doctor name."
    @doc_out_name = gets.chomp
    puts "Enter room used."
    # Room request added to eliminate possiblility of repeat doctor names.
    while @doc_out_room = gets.chomp
      unless @doc_out_room.match(/^\d+$/)
        puts "Please enter the integer value of the room you used."
        next
      else
        @doc_out_room = Integer(@doc_out_room)
        break
      end
    end
    if @rooms[@doc_out_room-1] == nil
      puts "That room is empty!"
    elsif @doc_out_name == @rooms[@doc_out_room - 1].name
      @waiting.concat(@rooms[@doc_out_room - 1].queue)
      @rooms[@doc_out_room - 1] = nil
      p "Patients reassigned and room #{@doc_out_room} is now clear. Good-bye Dr. #{@doc_out_name}."
    else
      puts "Incorrect room-doctor assignment."
    end
  end

  def patient_checkout
    puts "Please enter patient name."
    @pat_out_name = gets.chomp
    puts "Please enter room number."
    while @pat_out_room = gets.chomp
      unless @pat_out_room.match(/^\d+$/)
        puts "Please enter an integer room number between 1 and 100."
      else
        @pat_out_room = Integer(@pat_out_room)
        break
      end
    end
    if @rooms[@pat_out_room - 1].queue[0].name == @pat_out_name
      @rooms[@pat_out_room - 1].queue.shift
      p "Patient #{@pat_out_name} is now checked-out. Goodbye!"
    else
      puts "Patient has not seen a doctor yet."
    end
  end
end



class Doctor
  attr_accessor :name, :specialty, :queue, :room
  def initialize(name, room, specialty)
    @name = name
    @specialty = specialty
    @room = room
    @queue = []
  end
end

class Patient
  attr_accessor :name, :age, :spec_request
  def initialize(name, age, spec_request)
    @name = name
    @age = age
    @spec_request = spec_request
  end
end