<h1>Editing project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :file_location %><br />
    <%= f.text_field :file_location %>
  </p>

  <p>
    <%= f.label :default_parameters %><br />
    <%= f.text_field :default_parameters %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>