<h1>Listing projects</h1>

<table>
  <tr>

    <th>Name</th>

    <th>File location</th>

    <th>Default parameters</th>

  </tr>

<% @projects.each do |project| %>
  <tr>

    <td><%=h project.name %></td>

    <td><%=h project.file_location %></td>

    <td><%=h project.default_parameters %></td>

    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Run', project ,:controller => "projects", :action => "execute" %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>