
<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>


<p>
  <b>File location:</b>
  <%=h @project.file_location %>
</p>


<p>
  <b>Default parameters:</b>
  <%=h @project.default_parameters %>
</p>


<p>
  <b>Output:</b>
  <%=h @project %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>