<div style = "border-top: 1px solid white">
   <br>
   <i style = "color:white"><%=h comment.name %> says:</i><br />
   <%= simple_format h(comment.body) %>
   <%= link_to 'Delete Comment', comment,
     :confirm => 'Are you sure?',
     :method => :delete if logged_in? && current_user.admin %><br><br>
 </div>