<p align = right>
  <%- unless logged_in? %>
  <%= link_to 'Login', login_path%>&nbsp|&nbsp<%= link_to 'New User?', new_user_path %>
  <%- else %>
  <%= current_user.login %>&nbsp
  <%= link_to 'Logout', logout_path %>
  <%- end %>
</p>
<h1 class="page-title">Posts</h1>

<p>
  This section of the site is for anyone who wishes to post comments, ideas, issues, anecdotes, etc.  Basically, if it
  can be represented as text, feel free to post it here.  Just please don't post anything profane or insulting.
</p>

<table border = white width = 1000px>
  <tr>

    <th width = 100px style = "color:white">Title</th>

    <th width = 100px style = "color:white">Author</th>

    <th width = 100px style = "color:white">Date</th>

    <th width = 600px style = "color:white">Body</th>

    <th width = 100px style = "color:white">Comments</th>

  </tr>

<% @posts.each do |post| %>
  <tr>

    <td align = center style = "color:white"><%=h post.title %></td>

    <td align = center style = "color:white"><%=h post.author %><br>
    <%- if logged_in? && current_user.admin && current_user.login != post.author %>
    <%- unless User.find_by_login(post.author).ban %>
    <%= link_to "Ban", :controller => :posts, :action => :toggle_user_ban, :id => post, :confirm => "Ban user #{post.author}?" %>
    <%- else %>
    <%= link_to "Unban", :controller => :posts, :action => :toggle_user_ban, :id => post, :confirm => "Unban user #{post.author}?" %>
    <%- end %>
    <%- end %>
    </td>

    <td align = center style = "color:white"><%=h post.created_at %></td>

    <td style = "color:white"><%=h post.body %><br>

    <%= link_to 'Show', post %>
    <%- if logged_in? && (current_user.admin || post.author == current_user.login) %>
    |&nbsp<%= link_to 'Edit', edit_post_path(post) %>
    |&nbsp<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    <%- end %>
    </td>

    <td align = center style = "color:white"><%=h post.comments.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path if logged_in? %>