<h1 class="page-title"><%=h @post.title %></h1>


<p>
  <b>Created</b>
  <%=h @post.created_at %>
</p>
<p>
  <u><b>Post:</b></u><br><br>
  <%=h @post.body %><br><br><br>
  <b>Comments:</b>
</p>

<%= render :partial => 'comment', :collection => @post.comments %>
<br>

 <% form_for [@comment] do|f| %>
   <%= f.error_messages %>
   <%= f.hidden_field :post_id %>

   <p>
     <%= f.label :name %>
     <%= f.text_field :name %>

   </p>

   <p>
     <%= f.label :body %><br />
     <%= f.text_area :body %>
   </p>

   <p>
     <%= f.submit "Post Comment" %>
   </p>
 <% end %>
<br>
<%= link_to 'Edit Post', edit_post_path(@post) %> 
<%= link_to 'Back', posts_path %>