!!!
%html
    %head
        = stylesheet_link_tag 'compiled/global.css'

    %body
        .row
            .one-and-a-half.columns.first
                .one.column.first
                    #navBar
                        %ul
                            %li <a href='/home'>Home</a>
                            %li <a href='/resume'>R&eacute;sum&eacute;</a>
                            %li <a href='/coursework'>Coursework</a>
                            %li <a href='/work'>Projects</a>
                            %li <a href='/../posts'>Posts</a>

            .two.columns
                #gridWrapper
                    = flash[:notice]
                    = flash[:error]
                    = yield