!!!
%html
    %head
        = stylesheet_link_tag 'compiled/global.css'

    %body
        .posts-header
            %p
                - unless logged_in?
                    = link_to 'Login', login_path
                    &nbsp|&nbsp
                    = link_to 'New User?', new_user_path
                - else
                    = current_user.login
                    &nbsp
                    = link_to 'Logout', logout_path
        .row
            .one-and-a-half.columns.first
                .one.column.first
                    #navBar
                        %ul
                            %li <a href='/home'>Home</a>
                            %li <a href='/resume'>R&eacute;sum&eacute;</a>
                            %li <a href='/coursework'>Coursework</a>
                            %li <a href='/work'>Projects</a>
                            %li <a href='/../posts'>Posts</a>

            .two.columns
                #gridWrapper
                    = flash[:notice]
                    = flash[:error]
                    = yield